.development {
  position: relative;
}

.blog-post {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid beige;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.blog-post-item {
  list-style: none;
}

.blog-post-title {
  padding: 0;
  margin: 0;
}

.blog-post-sub {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  padding-bottom: 5px;
}

.blog-post-desc {
  margin-right: 5px;
  opacity: 0.8;
}

.blog-post-info {
  opacity: 0.4;
  display: flex;
}

.blog-post-date {
  margin-left: 5px;
}

.blog-post-btn {
  display: flex;
  justify-content: flex-end;
}

.post-create-btn {
  padding: 7px;
  background-color: #12b2e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
