.post {
    width: 90%;
    margin: auto;
}

.post-btn-div {
    display: flex;
    justify-content: flex-end; 
    margin: 20px 10px;
}

.post-cards-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.create-post {
    width: 80%;
    margin: 0px auto;
}

.create-post-input-div {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 20px;
}

.create-post-input-div > span {
    font-size: 20px;
    margin: 10px 0;
}

.create-post-input-div > input {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.create-post-input-div > textarea {
    height: 400px;
    font-size: 15px;
    padding: 10px;
    resize: none;    
    border-radius: 10px;
    border: 1px solid gray;
}

.create-post-btn-div {
    display: flex;
    justify-content: center;
}

.read-post {
    width: 80%;
    margin: 40px auto;
}

.read-post-control {
    color: gray;
    text-align: right;
}

.read-post-control > span:hover {
    cursor: pointer;
}

.read-post-main > hr {
    margin: 40px 0;
}

.read-post-title {
    font-size: 36px;
    font-weight: bold;
}

.read-post-desc {
    font-size: 18px;
    color: gray;
}

.read-post-content {
    font-size: 18px;
    line-height: 28px;
}

.serenity-btn {
    border: solid 2px #92a8d1;
    border-radius: 25px;
    color: #92a8d1;
    background-color: white;
    padding: 10px 20px;
    font-size: 15px;
}

.serenity-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #92a8d1;
}