@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;600&display=swap');
*{
    background-color: rgb(246, 246, 246);
    font-family:'IBM Plex Sans KR', sans-serif ;
}
a{
    text-decoration: none;
    color:#000;
    font-family: Montserrat;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}
.headbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    height: 100px;
}
.blog{
    font-size: 30px;
    font-weight: bolder;
    width: 50%; 
}
.head2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100px;
}
.btn{
    font-family:'IBM Plex Sans KR', sans-serif ;
    font-weight: bold;
    font-size: 12pt;
    background-color: rgb(233, 233, 233);
    color: rgb(135, 135, 135);
    padding: 5px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    margin-left: 5px;
    height: 25px;
    width: 50px;
    text-align: center;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
.submit-btn{
    font-size: 12pt;
    font-family:'IBM Plex Sans KR', sans-serif ;
    font-weight: bold;
    background-color: rgb(233, 233, 233);
    color: rgb(135, 135, 135);
    padding: 5px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    margin-left: 5px;
    height: 35px;
    width: 80px;
    border: none;
    text-align: center;
}
.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
main{
    margin-top: 100px;
}
.layout{
    display: flex;
    justify-content: center;
}
.postbox{
    background-color: #fff;
    border: rgb(232, 232, 232) solid 0.5px;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 700px;
    padding: 30px;
    box-sizing: border-box;
}
.posttitle{
    background-color: #fff;
    width: 600px;
    border: none;
    height: 40px;
    font-size: 18pt;
    resize: none;
}
.pb{
    background-color: #fff;
}
form{
    background-color: #fff;
}
.line{
    background-color: #fff;
    margin: 10 0 10 0;
    width: 600px;
    border-bottom: rgb(148, 148, 148) solid 0.1px;
}
.postcontent{
    background-color: #fff;
    width: 600px;
    border: none;
    height: 500px;
    font-size: 13pt;
    resize: none;
}
textarea:focus {
    outline: none;
}